<ion-view title="{{marvel.name}}" id="page8" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <h1 id="mARVELMOVIE-heading1" style="color:#FFFFFF;text-align:center;">{{marvel.name}}</h1>
    <div>
      <img src="{{marvel.poster}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="mARVELMOVIE-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Relase date:</strong>
      </p>

      <p style="color:#FFFFFF;">{{marvel.release}}</p>

      <p style="color:#FFFFFF;">
        <strong>Directed by:</strong>
      </p>

      <p style="color:#FFFFFF;">{{marvel.director}}</p>

      <p style="color:#FFFFFF;">
        <strong>Cast:</strong>
      </p>

      <p style="color:#FFFFFF;">{{marvel.cast}}</p>

      <p style="color:#FFFFFF;">
        <strong>Synopsis:</strong>
      </p>

      <p style="color:#FFFFFF;">{{marvel.synopsis}}</p>
    </div>
  </ion-content>
</ion-view>