<ion-view title="RATE APP" id="page10">
  <ion-content padding="true" style="background: url(img/9QZE12nzRq2kB1oSa405_blur-4.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <h1 id="rATEAPP-heading3" style="color:#D7D100;font-weight:600;text-align:center;">Thanks for supporting us!</h1>
    <div class="spacer" style="height: 70px;"></div>
    <div id="rATEAPP-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#D5D5D5;font-size:22px;">Are you enjoying this app? Please rate it on the store and help us to grow. Your opinion is important for us.</p>
    </div>
    <div class="spacer" style="height: 70px;"></div>
    <a href-inappbrowser="https://play.google.com/store/apps/details?id=com.betterlifeapps.SMC" id="rATEAPP-button2" style="font-weight:600;color:#DCDCDC;font-size:30px;" class="button button-energized button-block">RATE APP</a>
  </ion-content>
</ion-view>